@font-face {
  font-family: "Amethysta-Regular";
  src: url("../fonts/Amethysta-Regular.eot");
  src: url("../fonts/Amethysta-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Amethysta-Regular.woff2") format("woff2"),
    url("../fonts/Amethysta-Regular.woff") format("woff"),
    url("../fonts/Amethysta-Regular.ttf") format("truetype"),
    url("../fonts/Amethysta-Regular.svg#Amethysta-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Good Vibrations ROB Script";
  src: url("../fonts/GoodVibrationsROBScript.eot");
  src: url("../fonts/GoodVibrationsROBScript.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/GoodVibrationsROBScript.woff2") format("woff2"),
    url("../fonts/GoodVibrationsROBScript.woff") format("woff"),
    url("../fonts/GoodVibrationsROBScript.ttf") format("truetype"),
    url("../fonts/GoodVibrationsROBScript.svg#GoodVibrationsROBScript")
      format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans Caption";
  src: url("../fonts/PTSans-Caption.eot");
  src: url("../fonts/PTSans-Caption.eot?#iefix") format("embedded-opentype"),
    url("../fonts/PTSans-Caption.woff2") format("woff2"),
    url("../fonts/PTSans-Caption.woff") format("woff"),
    url("../fonts/PTSans-Caption.ttf") format("truetype"),
    url("../fonts/PTSans-Caption.svg#PTSans-Caption") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AngsanaUPC';
  src: url('../fonts/AngsanaUPC.eot');
  src: url('../fonts/AngsanaUPC.eot?#iefix') format('embedded-opentype'),
      url('../fonts/AngsanaUPC.woff2') format('woff2'),
      url('../fonts/AngsanaUPC.woff') format('woff'),
      url('../fonts/AngsanaUPC.ttf') format('truetype'),
      url('../fonts/AngsanaUPC.svg#AngsanaUPC') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}



$font-amethysta: "Amethysta-Regular", sans-serif;
$font-good-vibrations: "Good Vibrations ROB Script", sans-serif;
$font-pt-sans: "PT Sans Caption", sans-serif;
$font-angsana: "AngsanaUPC", sans-serif;

