$white: #ffffff;
$black: #000000;
$grey: #dfdfdf;

$amethyst: "Amethyst", sans-serif;
$good-vibrations: "Good Vibrations ROB Script", sans-serif;
$pt-sans: "PT Sans Caption", sans-serif;

$thin: 100;
$extra-light: 200;
$light: 300;
$book: 400;
$medium: 500;
$demi: 600;
$bold: 700;
$heavy: 900;
