#main-container {
  @include fill-area;

  .content-inner,
  .card,
  .card__front,
  .card__back,
  .card-backgroung {
    @include fill-area;
    overflow: hidden;
  }

  .card {
    position: relative;

    &__front {
      .card-vactor {
        opacity: 0;
        position: absolute;
        z-index: 3;
        animation: rotate-vactor 2s ease-in-out infinite;
        animation-delay: 2s;
        &__1 {
          width: rem(80);
          height: rem(81);
          top: rem(1378);
          right: rem(199);
          @include bg-cov("../images/pages/index/vactor1.png");
        }
        &__2 {
          width: rem(83);
          height: rem(106);
          top: rem(1124);
          right: rem(188);
          @include bg-cov("../images/pages/index/vactor2.png");
        }
        &__3 {
          width: rem(79);
          height: rem(85);
          top: rem(791);
          right: rem(173);
          @include bg-cov("../images/pages/index/vactor3.png");
        }
        &__4 {
          width: rem(102);
          height: rem(84);
          top: rem(626);
          right: rem(201);
          @include bg-cov("../images/pages/index/vactor4.png");
        }
        &__5 {
          width: rem(80);
          height: rem(84);
          top: rem(521);
          left: calc(50% - rem(40));
          @include bg-cov("../images/pages/index/vactor5.png");
        }
        &__6 {
          width: rem(74);
          height: rem(85);
          top: rem(667);
          left: rem(197);
          @include bg-cov("../images/pages/index/vactor6.png");
        }
        &__7 {
          width: rem(72);
          height: rem(106);
          top: rem(938);
          left: rem(161);
          @include bg-cov("../images/pages/index/vactor7.png");
        }
        &__8 {
          width: rem(77);
          height: rem(84);
          top: rem(1164);
          left: rem(168);
          @include bg-cov("../images/pages/index/vactor8.png");
        }
        &__9 {
          width: rem(73);
          height: rem(102);
          top: rem(1367);
          left: rem(206);
          @include bg-cov("../images/pages/index/vactor9.png");
        }
      }

      .card {
        &__texts {
          position: relative;
          z-index: 3;
          margin: rem(58) auto 0;
          .text-desc {
            opacity: 0;
            font-family: $font-pt-sans;
            font-size: rem(24);
            line-height: rem(31);
            color: #b3917b;
          }
          .text-name {
            opacity: 0;
            font-family: $font-good-vibrations;
            font-size: rem(96);
            line-height: rem(134);
            color: #b3917b;
            margin: rem(21) auto;
          }

          .group-date {
            opacity: 0;
            width: fit-content;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: rem(55);
            margin: rem(33) auto 0;

            .text-date {
              font-family: $font-angsana;
              font-size: rem(48);
              color: #b3917b;

              &--bold {
                font-family: $font-amethysta;
                font-size: rem(96);
                color: #b3917b;
              }
            }
          }
        }

        &__backdrop {
          position: absolute;
          width: rem(879);
          height: rem(1688);
          @include bg-cov("../images/pages/index/backdrop.png");
          z-index: 2;
          left: calc(50% - rem(439.5));
          animation: scroll-backdrop 2s ease-in-out forwards;
        }

        &__main {
          opacity: 0;
          position: absolute;
          width: rem(616);
          height: rem(960);
          @include bg-cov("../images/pages/index/main.png");
          z-index: 3;
          top: rem(528);
          left: calc(50% - rem(308));
          animation: fade-in 1s ease-in-out forwards;
          animation-delay: 2s;
        }
      }
    }

    &__back {
      position: relative;
      color: #b3917b;

      .card {
        &__backdrop {
          position: absolute;
          width: rem(960);
          height: rem(1688);
          @include bg-cov("../images/pages/index/backdrop-back.png");
          z-index: 2;
          left: calc(50% - rem(480));
        }
        &__group-name {
          position: relative;
          @include flex-center;
          gap: rem(55);
          margin: rem(141) auto 0;
          z-index: 3;
          .name {
            display: flex;
            justify-content: space-between;
            width: rem(345);
          }
          .text-name {
            font-size: rem(32);
          }
        }

        &__group-invite {
          position: relative;
          margin: rem(70) auto 0;
          z-index: 3;
          .text-invite {
            font-size: rem(34);
            font-weight: 600;
          }
        }

        &__group-main-name {
          position: relative;
          width: fit-content;
          @include flex-column;
          align-items: center;
          gap: rem(16);
          margin: rem(70) auto 0;
          z-index: 3;
          .name {
            width: fit-content;
            font-size: rem(48);
          }
          .heart {
            width: rem(40);
            height: rem(54);
          }
        }

        &__group-location {
          position: relative;
          width: rem(735);
          @include flex-center;
          gap: rem(50);
          margin: rem(100) auto 0;
          z-index: 3;

          .text-desc {
            font-size: rem(32);
            color: #000000;

            &--bold {
              font-size: rem(64);
              font-weight: 600;
              color: #b3917b;
            }
          }

          .group-location {
            position: relative;
            width: rem(340);
            height: rem(210);
            @include flex-center;
            flex-direction: column;
            margin: 0 auto;

            &::before,
            &::after {
              content: "";
              position: absolute;
              width: 1px;
              height: 100%;
              background-color: #b3917b;
            }
            &::before {
              top: 0;
              left: 0;
            }
            &::after {
              top: 0;
              right: 0;
            }
          }

          .group-qr {
            @include flex-center;
            flex-direction: column;
            .qr {
              width: rem(139);
              height: rem(139);
            }
            .text-qr {
              font-size: rem(29.5);
              margin-top: rem(11);
            }
          }
        }

        &__group-timeline {
          width: rem(865);
          position: relative;
          @include flex-center;
          justify-content: space-between;
          margin: rem(140) auto 0;
          z-index: 3;

          &::before {
            content: "";
            position: absolute;
            width: rem(690);
            height: 1px;
            background-color: #b3917b;
            top: 57%;
            left: 50%;
            transform: translateX(-50%);
          }

          .timeline {
            @include flex-column;
            align-items: center;

            .dot {
              width: rem(15);
              height: rem(15);
              background-color: #b3917b;
              border-radius: 50%;
              margin: rem(30) auto;
            }

            .text-timeline {
              font-size: rem(28);
              line-height: rem(42);
              color: #000000;
            }
            &__1 {
              .image {
                width: rem(126);
                height: rem(124);
              }
            }
            &__2 {
              .image {
                width: rem(87);
                height: rem(126);
              }
            }
            &__3 {
              .image {
                width: rem(173);
                height: rem(125);
              }
            }
          }
        }

        &__group-theme {
          position: relative;
          @include flex-center;
          flex-direction: column;
          margin: rem(90) auto 0;
          z-index: 3;

          .text-theme {
            font-size: rem(32);
            color: #000000;
          }

          .colors {
            display: flex;
            gap: rem(30);
            margin: rem(30) auto 0;
            .color {
              width: rem(40);
              height: rem(40);
              border-radius: 50%;
              border: 1px solid rgba($color: #000000, $alpha: 0.1);

              &--1 {
                background-color: #93c6e7;
              }
              &--2 {
                background-color: #ffc5c5;
              }
              &--3 {
                background-color: #fbf3d5;
              }
              &--4 {
                background-color: #776b5d;
              }
              &--5 {
                background-color: #b4b4b8;
              }
            }
          }
        }
      }
    }

    &__front,
    &__back {
      position: absolute;
      top: 0;
      left: 0;
      backface-visibility: hidden;
      transition: all 2s;

      &.rotation {
        transform: rotateY(180deg);
        transition: all 2s;
      }
    }

    .card-backgroung {
      position: absolute;
      top: 0;
      left: 0;
      &__sky {
        position: relative;
        width: 200%;
        height: 100%;
        display: flex;
        z-index: 1;

        .bg1,
        .bg2 {
          width: 50%;
          height: 100%;
          background: url("../images/pages/index/bg.png") no-repeat;
          background-size: cover;
        }
        .bg2 {
          margin-left: -1px;
        }

        @keyframes scroll-background {
          0% {
            transform: translateX(0);
          }
          100% {
            transform: translateX(-50%);
          }
        }

        animation: scroll-background 10s linear infinite;
      }

      &__mountain {
        position: absolute;
        width: rem(1080);
        height: rem(131);
        left: 0;
        bottom: 0;
        @include bg-cov("../images/pages/index/mountain.png");
        z-index: 2;
      }
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes scroll-backdrop {
    from {
      top: -100%;
    }
    to {
      top: 0;
    }
  }
  @keyframes rotate-vactor {
    0%,
    100% {
      transform: rotate(0deg);
    }
    12.5% {
      transform: rotate(-15deg);
    }
    37.5% {
      transform: rotate(15deg);
    }
    62.5% {
      transform: rotate(-15deg);
    }
    87.5% {
      transform: rotate(15deg);
    }
  }
  @keyframes scroll-background {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}
