---
import Layout from "../layouts/Layout.astro";
import "../styles/styles.scss";
---

<Layout title="Panicha & Sukda">
  <main id="main-container">
    <div class="content-inner">
      <div class="card">
        <div class="card__front">
          <div class="card-backgroung">
            <div class="card-backgroung__sky">
              <div class="bg1"></div>
              <div class="bg2"></div>
            </div>
            <div class="card-backgroung__mountain"></div>
          </div>
          <div class="card__texts">
            <p class="text-desc">TOGETHER</p>
            <p class="text-desc">WITH THEIR FAMILIES</p>
            <h2 class="text-name">Panicha & Sukda</h2>
            <p class="text-desc">INVITE YOU TO CELEBRATE</p>
            <p class="text-desc">THEIR WEDDING</p>

            <div class="group-date">
              <h5 class="text-date">MON</h5>
              <div class="flex-column">
                <h5 class="text-date">NOV</h5>
                <h2 class="text-date--bold">11</h2>
              </div>
              <h5 class="text-date">2024</h5>
            </div>
          </div>
          <div class="card__backdrop"></div>
          <div class="card__main"></div>

          <div class="card-vactor card-vactor__1"></div>
          <div class="card-vactor card-vactor__2"></div>
          <div class="card-vactor card-vactor__3"></div>
          <div class="card-vactor card-vactor__4"></div>
          <div class="card-vactor card-vactor__5"></div>
          <div class="card-vactor card-vactor__6"></div>
          <div class="card-vactor card-vactor__7"></div>
          <div class="card-vactor card-vactor__8"></div>
          <div class="card-vactor card-vactor__9"></div>
        </div>

        <div class="card__back rotation">
          <div class="card-backgroung">
            <div class="card-backgroung__sky">
              <div class="bg1"></div>
              <div class="bg2"></div>
            </div>
            <div class="card-backgroung__mountain"></div>
          </div>
          <div class="card__backdrop"></div>
          <div class="card__group-name">
            <div class="flex-column">
              <div class="name">
                <div class="text-name">พ่อ พิบุญ</div>
                <div class="text-name">พรหมปาลิตร</div>
              </div>
              <div class="name">
                <div class="text-name">แม่ จิดาภา</div>
                <div class="text-name">พรหมปาลิตร</div>
              </div>
            </div>

            <p class="text-name">และ</p>
            <div class="flex-column">
              <div class="name">
                <div class="text-name">พ่อ ธนเดช</div>
                <div class="text-name">สูงสนิท</div>
              </div>
              <div class="name">
                <div class="text-name">แม่ ปทิตตา</div>
                <div class="text-name">เชียงแก้ว</div>
              </div>
            </div>
          </div>
          <div class="card__group-invite">
            <h4 class="text-invite">
              ขอเรียนเชิญเพื่อเป็นเกียรติเนื่องในพิธีมงคลสมรส
            </h4>
            <h4 class="text-invite">ระหว่าง</h4>
          </div>

          <div class="card__group-main-name">
            <div class="name">นางสาว ปณิชา สูงสนิท (ไอซ์)</div>
            <img class="heart" src="images/pages/index/heart.png" alt="" />
            <div class="name">นาย ศักดา พรหมปาลิตร (แบงค์)</div>
          </div>

          <div class="card__group-location">
            <div class="group-date">
              <p class="text-desc">วันจันทร์</p>
              <h4 class="text-desc--bold">11</h4>
              <p class="text-desc">พฤศจิกายน</p>
              <p class="text-desc">2567</p>
            </div>

            <div class="group-location">
              <p class="text-desc">ณ สวนอาหารล้านนา</p>
              <p class="text-desc">เฮือนฮิมดอย</p>
            </div>

            <div class="group-qr">
              <img class="qr" src="images/pages/index/qr.png" alt="" />
              <p class="text-qr">LOCATION</p>
            </div>
          </div>

          <div class="card__group-timeline">
            <div class="timeline timeline__1">
              <img
                class="image"
                src="images/pages/index/timeline1.png"
                alt=""
              />
              <span class="dot"></span>
              <div class="flex-column">
                <p class="text-timeline">15:30 น.</p>
                <p class="text-timeline">พิธีแห่ขันหมาก</p>
              </div>
            </div>
            <div class="timeline timeline__2">
              <img
                class="image"
                src="images/pages/index/timeline2.png"
                alt=""
              />
              <span class="dot"></span>
              <div class="flex-column">
                <p class="text-timeline">15:50 น.</p>
                <p class="text-timeline">พิธีผูกข้อไม้ข้อมือ</p>
              </div>
            </div>
            <div class="timeline timeline__3">
              <img
                class="image"
                src="images/pages/index/timeline3.png"
                alt=""
              />
              <span class="dot"></span>
              <div class="flex-column">
                <p class="text-timeline">17:00 น.</p>
                <p class="text-timeline">ฉลองมงคลสมรส</p>
              </div>
            </div>
          </div>

          <div class="card__group-theme">
            <p class="text-theme">THEME</p>
            <div class="colors">
              <div class="color color--1"></div>
              <div class="color color--2"></div>
              <div class="color color--3"></div>
              <div class="color color--4"></div>
              <div class="color color--5"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>

<script src="../js/pages/index.js"></script>
